body{
    font-family: 'Montserrat', sans-serif;
}
.skin-black .main-header > .navbar {
    background-color: transparent;
}
.skin-black .main-header > .navbar > .sidebar-toggle {
    display: none;
}
.skin-black .wrapper, .skin-black .main-sidebar, .skin-black .left-side {
    background-color: #ffff;
}
.skin-black .sidebar a {
    color: #565656;
    font-weight: 400;
}
.skin-black .main-header {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.skin-black .sidebar-menu > li.header {
    color: #999999;
    margin: -webkit-calc(2.2rem - 0.2rem) 0 0.8rem 2.2rem;
    margin: -moz-calc(2.2rem - 0.2rem) 0 0.8rem 2.2rem;
    margin: calc(2.2rem - 0.2rem) 0 0.8rem 2.2rem;
    padding: 0;
    line-height: 1.5;
    letter-spacing: 0.01rem;
    background: transparent
}
.content-wrapper, .right-side {
    min-height: 100%;
    background-color: #f8f8f8;
    z-index: 800;
    margin-left: 260px;
}
.skin-black .sidebar-menu > li {
    padding: 0 15px;
}
.skin-black .sidebar-menu > li > a {
    border-left: none;
    font-size: 15px;
    text-transform: inherit;
}
.sidebar-menu .treeview-menu > li > a{
    text-transform: inherit;
}
.main-sidebar, .left-side {
    width: 260px;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
}
.main-footer, .main-header > .navbar {
    margin-left: 260px;
}
.skin-black .main-header > .logo{
    width: 260px;
    height: 8rem;
    position: relative;
    padding: 0.35rem 1rem 0.3rem 1.64rem;
    border-right: transparent;
}
.sidebar-menu > li > a > .fa, .sidebar-menu > li > a > 
.glyphicon, .sidebar-menu > li > a > .ion {
    color: #565656;
}
.skin-black .user-panel > .info, .skin-black .user-panel > .info > a,
.user-panel > .info > p {
    color: #565656;
}
.skin-black .sidebar-menu > li:hover > a, 
.skin-black .sidebar-menu > li.active > a {
    color: #565656;
    background: transparent;
    border-left-color: transparent;
}
.main-header > .navbar {
    min-height: 7rem;
}
.main-sidebar, .left-side {
    padding-top: 70px;
}
.logo img {
    width: 160px;
    position: relative;
    left: -10px;
    top: 4px;
}
.user-avatar a{
    padding-left: 5px !important;
}
.user-avatar a img{
    width: 45px;
    display: inline-block;
}
.user-avatar a p{
    display: inline-block;
    margin-left: 10px;
    font-weight: 600;
}
.skin-black .sidebar-menu > li:hover > a .fa, 
.skin-black .sidebar-menu > li.active > a .fa {
    color: #565656;
}
.skin-black .treeview-menu > li > a {
    color: #565656;
    font-size: 14px;
}
.skin-black .treeview-menu > li.active > a, 
.skin-black .treeview-menu > li > a:hover {
    color: #565656;
}
.skin-black .sidebar-menu > li > .treeview-menu {
    margin: 0 10px;
    background: transparent;
}
.sidebar-menu .treeview-menu > li > a {
    padding: 10px 10px 10px 10px;
}
.skin-black .sidebar-menu > li > a > i{
    margin-right: 15px;
    font-size: 1.8rem;
}
.skin-black .main-header > .navbar .nav > li > a:hover{
    background: transparent;
    color: #565656;
}
.skin-black .main-header > .navbar .nav > li > a,
.skin-black .main-header > .navbar .nav > li > a > i {
    color: #565656;
    font-weight: 600;
    border: transparent !important;
}
.skin-black .main-header > .navbar .nav .open > a{
    background: transparent !important;
    color: #999999;
}
.bell span{
    display: flex;
    width: 15px;
    height: 15px;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #dc3545;
    color: #fff;
    font-size: 8px;
    font-weight: 400;
    line-height: 2;
    border-radius: 100%;
}
.nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus{
    background: transparent !important;
}
.info-box, .box-info, .box-default, .box-warning, .box-danger {
    box-shadow: none;
    border-top-color: transparent !important;
}
.box-header > .fa, .box-header > .glyphicon, .box-header > .ion, 
.box-header .box-title {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    line-height: 1;
}
.table > thead > tr > th {
    border-top: 1px solid #f4f4f4 !important;
    border-right: 1px solid #f4f4f4 !important;
    border-bottom: transparent;
    font-size: 1.275rem !important;
    font-weight: 600 !important;
}
.table > tbody > tr > td{
    font-size: 1.175rem !important;
}
.info-box, .box-info, .box-default, .box-warning, .box-danger {
    box-shadow: none;
    border-top-color: transparent !important;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1) !important;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.box-footer .btn-info, .box-footer .btn-warning, .box-footer .btn-success {
    background-color: transparent;
    border-color: #bc0060 !important;
    color: #bc0060;
    border-radius: 0%;
    background-color: transparent !important;
}
.box-footer .btn-info:hover, .box-footer .btn-warning:hover,
.box-footer .btn-success:hover{
    background-color: transparent;
    color: #bc0060;
    border-color: #bc0060;
}
.fixed .content-wrapper, .fixed .right-side {
    padding-top: 30px;
}
.main-footer {
    background: #f8f8f8;
}
span.label-info {
    background-color: transparent !important;
    color: #48b0f7 !important;
    border: solid 1px;
    border-radius: 0;
    padding-top: 4px;
}
span.label-warning {
    background-color: transparent !important;
    color: #bc0060 !important;
    border-radius: 0;
    border: solid 1px;
    padding-top: 4px;
}
span.label-success {
    background-color: transparent !important;
    color: #10cfbd !important;
    border: solid 1px;
    border-radius: 0;
    padding-top: 4px;
}
td a {
    color: #565656 !important;
    font-size: 13px !important;
    font-weight: 500 !important;
}
body {
    background-color: #f8f8f8;
}
footer span{
    font-weight: 600;
    color: #565656;
    position: relative;
    top: 9px;
}
table.table-bordered > tbody > tr > td:first-child, 
table.table-bordered > thead > tr > th:first-child {
    background: #f8f8f8;
    color: #565656;
    border-color: #fff;
}
table .label {
    font-weight: 500 !important;
}
.table-bordered > tbody > tr > td {
    border: inherit !important;
    border-top: 1px solid #f4f4f4 !important;
    border-right: 1px solid #f4f4f4 !important;
}
.table-bordered > tbody > tr.even{
    border-bottom: 1px solid #f4f4f4 !important;
}
.table-bordered > thead > tr > th{
    border: inherit !important;
    border-top: 1px solid #f4f4f4 !important;
    border-right: 1px solid #f4f4f4 !important;
}
.pagination > li > a {
    background: #fafafa;
    color: #666;
    font-size: 12px;
    
}
div.dataTables_wrapper div.dataTables_paginate {
    margin-top: 15px !important;
}
.pagination > .active > a, .pagination > .active > span, 
.pagination > .active > a:hover, .pagination > .active > span:hover, 
.pagination > .active > a:focus, .pagination > .active > span:focus {
    color: #fff;
    background-color: transparent !important;
    border-color: #bc0060 !important;
    color: #bc0060 !important;
}
.pagination > li:first-child > a, .pagination > li:first-child > span,
.pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: 0;
}
 .label-danger {
    background-color: transparent !important;
    color: #6e1746 !important;
    border: solid 1px #6e1746;
    border-radius: 0;
    font-weight: 600;
}
.nav-tabs.profile > li > a {
    padding: 15px 8px !important;
}
.skin-black .sidebar-menu > li > a{
    font-weight: 600;
}