.skin-black .sidebar-menu > li.header {
    color: #fff;
    background: #520064;
}
.skin-black .wrapper, 
.skin-black .main-sidebar, 
.skin-black .left-side {
    background-color: #263238;
}
.skin-black .sidebar-menu > li:hover > a, 
.skin-black .sidebar-menu > li.active > a {
    color: #ffffff;
    background: #bc0060;
    border-left-color: #ffffff;
}
.skin-black .sidebar-menu > li > a {
    border-left: 3px solid transparent;
    font-size: 13px;
    text-transform: uppercase;
}
.skin-black .sidebar a {
    color: #fff;
}
.skin-black .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #6e1746;
}
.sidebar-menu .treeview-menu > li > a {
    padding: 6px 5px 6px 15px;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
}
.skin-black .treeview-menu > li > a {
    color: #fff;
}
.skin-black .main-header > .navbar {
    background-color: #520064;
}
.skin-black .main-header > .navbar > .sidebar-toggle {
    color: #fff;
    border-right: 1px solid #fff;
}
.skin-black .main-header > .navbar .nav > li > a {
    color: #fff;
    font-weight: 600;
}
.bg-yellow, .callout.callout-warning, 
.alert-warning, .label-warning, 
.modal-warning .modal-body {
    background-color: #bc0060 !important;
    color: #fff !important;
}
.box.box-success {
    border-top-color: #6e1746;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
.btn-success {
    background-color: #6e1746;
    border-color: #ed3d47;
}
.sidebar-menu > li > a > .fa, 
.sidebar-menu > li > a > .glyphicon, 
.sidebar-menu > li > a > .ion {
    color: #bc0060;
}
.skin-black .sidebar-menu > li:hover > a .fa, 
.skin-black .sidebar-menu > li.active > a .fa {
	color: #fff;
}
.btn-success:hover, .btn-success:active, 
.btn-success.hover,
.btn-success:focus {
    background-color: #263238;
    border-color: #263238;
}
.table > thead > tr.success > th{
	background-color: #263238;
	color: #fff;
}
.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
    color: #fff;
    background-color: #bc0060;
    border-color: #bc0060;
}
.btn-danger {
    background-color: #f43f3b;
    border-color: #f43f3b;
}
td a {
    color: #bc0060;
    font-size: 14px;
    font-weight: 600;
}
td a:hover, td a:active, td a:focus {
	color: #6e1746
}
table thead .sorting:after,
table thead .sorting_asc:after {
    display: none !important;
}
/*table.table-bordered > tbody > tr > td:first-child {
    border-radius: 50px 0 0 50px !important;
    -moz-border-radius: 50px 0 0 50px !important;
    -webkit-border-radius: 50px 0 0 50px !important;
}
table.table-bordered > tbody > tr > td:last-child {
    border-radius: 0 50px 50px 0 !important;
    -moz-border-radius: 0 50px 50px 0 !important;
    -webkit-border-radius: 0 50px 50px 0 !important;
}*/
table.table-bordered > tbody > tr > td:first-child,
table.table-bordered > thead > tr > th:first-child {
    background: #ecf0f5;
    color: #6e1746;
    border-color: #fff;
}
table.table-bordered.dataTable td:last-child, 
table.table-bordered.dataTable td:last-child {
    border-right-width: 1px !important;
}
table.table-bordered {
    border: none;
}
table.table-bordered tbody td{
	border-bottom-width: 1px !important;
}
table.dataTable{
	width: 100% !important;
}
table.table-bordered td:last-child, 
table.table-bordered td:last-child {
    border-right-width: 1px;
}
table.table-bordered.dataTable th, 
table.table-bordered.dataTable td {
    border-left-width: 1px !important;
}
.page-header {
    margin: 10px 0 5px 0;
    font-size: 22px;
}
.bg-primary {
    background-color: #bbbbbb;
    color: #fff;
}
.text-primary {
    color: #bc0060;
}
.profile2 .profile-icon {
    border-radius: 50%;
    margin-top: 20px;
    width: 70px;
    height: 70px;
    float: left;
    background: #FFF;
    text-align: center;
    text-shadow: 1px 1px 6px #6e1746;
}
.info-box,
.box-info,
.box-default,
.box-warning,
.box-danger {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3) !important;
    border-top-color: #6e1746 !important;
}
.bg-red, .callout.callout-danger, 
.alert-danger, .alert-error, 
.label-danger, .modal-danger .modal-body{
	background-color: #6e1746 !important;
}
.btn-info, .btn-warning{
    background-color: #bc0060;
    border-color: #bc0060;
}
.btn:hover,.btn:focus, .btn:active:focus, .btn.active:focus, 
.btn.focus, .btn:active.focus, .btn.active.focus{
	background-color: #263238;
    border-color: #263238;
}
#pieChart{
	position: relative;
    top: 15px;	
}
.nav-tabs.profile > li.active > a, .nav-tabs.profile > li.active > a:active, 
.nav-tabs.profile > li.active > a:hover, .nav-tabs.profile > li.active > a:focus {
    border: none;
    color: #bc0060;
    background: transparent;
    border-bottom: 2px solid #bc0060;
    border-radius: 0;
}
.nav-tabs.profile > li > a:hover {
    background: transparent;
    border-color: transparent;
    color: #bc0060;
}
.nav-tabs.profile > li:not(.title-tab):after {
    background-color: #bc0060;
}
.skin-black .main-header li.user-header {
    background-color: #263238;
}
.content-header {
    position: relative;
    padding: 15px 15px 0 30px;
    color: #bc0060;
    font-weight: 600;
}
.logo img{
    width: 160px;
    position: relative;
    left: -10px;
    top: -1px;	
}
.btn-primary {
    background-color: #bc0060;
    border-color: #bc0060;
}
.login-box, .register-box {
    width: 360px;
    margin: 15% auto;
}
.login-page{
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
.navbar-nav > .user-menu > .dropdown-menu > 
.user-footer .btn-default:hover{
    color: #fff;
}
.profile2 .name {
    font-size: 21px;
    color: #bc0060;
}
.bg-light-blue, .label-primary, 
.modal-primary .modal-body {
    background-color: #bc0060 !important;
}
.profile2 .name {
    line-height: 25px;
    position: relative;
    top: 25px;
}
.content-header h1 a{
    color: #bc0060;
}
.content-header > .breadcrumb > li > a {
    color: #bc0060;
}
.content-header > h1 > small {
    font-weight: 600;
    color: #000;
}
.btn-default {
    background-color: #fff;
    color: #5e5e5e;
    border-color: #000;
}
.btn-default a{
    color: #5e5e5e;
}
.btn-default:hover{
    color: #fff;
}
.mailbox-attachment-icon {
    color: #bc0060;
}
#example1_filter{
    float: right;
}
#example1_filter label{
    font-weight: 300;
}
div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
}

.mailbox-attachments li{
    min-height: 250px;
    border: none!important;
}

.bg-blackmini {
    background-color: #353233 !important;
    color: #fff !important;
}
.bg-myblue {
    background-color: #3244ff !important;
    color: #fff !important;
}
.bg-myviolet {
    background-color: #f032ff !important;
    color: #fff !important;
}
.bg-myred {
    background-color: #ff3251 !important;
    color: #fff !important;
}
.bg-myorange {
    background-color: #ffb432 !important;
    color: #fff !important;
}
.bg-mygreen {
    background-color: #37ff32 !important;
    color: #fff !important;
}
.bg-myyello {
    background-color: #ffda32 !important;
    color: #fff !important;
}
.bg-myblue2 {
    background-color: #1ba6d8 !important;
    color: #fff !important;
}
.bg-fonce {
    background-color: #213e48 !important;
    color: #fff !important;
}
.bg-kaki {
    background-color: #9E9E98 !important;
    color: #fff !important;
}
